//--------------------------------------------------------------
// Variable overrides
//--------------------------------------------------------------
$assetBasePath: '~@trikoder/trim/src/';
$colorMain1: #da291c;
$colorNavigation: #1f1f1f;
